.logo{
    width: 100px;
    background-color: aquamarine;
    border-radius: 50px;
    align-items: center;
    margin-right: 100px;
}


header{
    display: flex;
    background-color: rgb(135, 235, 215);
    border: radius 50px;
    padding: 30px;
}      
.info{
background-color: skyblue;
}
img{
    width: 200px;
    height: ;
    border-radius: 500px;
    border-color: red;
    border-width: 20px;
    
    
}
.Profile{
    align-items: center;
}
nav a{
    
    padding-left: 30px;
    padding-right: 50px;
    text-decoration: none;
font-size: 40px;
color: #333;

flex-direction: row;
font-weight: bold;
}
h2{
    text-align: center;
}
button{
    padding: 15px;
    border-radius: 50px;
    background-color: black;
    color: white;


}
button:hover{
    background-color: red;
    cursor: pointer;
}
nav a:hover{
    color: white;
    background-color: rgb(0, 92, 128);
    border-radius: 100px;

}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #777;
}